@model CompusoftAtendimento.Models.FormaAtendimentoModel
@{
    ViewData["Title"] = "Cadastro de Formas de Atendimento";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<div class="container mt-5">
    <h1 class="text-dark font-weight-bold">Cadastro de Formas de Atendimento</h1>
    <br />
    <form asp-controller="FormaAtendimento" asp-action="salvar" method="post">
        <div class="row mb-4">
            <div class="col-md-1 form-group">
                <label asp-for="id" class="font-weight-bold"></label>
                <input readonly type="text" asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="alert-danger"></span>
            </div>
            <div class="col-md-11 form-group">
                <label asp-for="descricao" class="font-weight-bold"></label>
                <input type="text" asp-for="descricao" class="form-control" style="background-color: #f2f2f2;" />
                <span asp-validation-for="descricao" class="alert-danger"></span>
            </div>
        </div>

        <!-- Botão de Salvar -->
        <div class="col-12 form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" style="background-color: #021532; border-color: #021532;" />
        </div>
        <div class="col-12 form-group" style="margin-top: 50px;">
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
        </div>
    </form>
</div>
