@model CompusoftAtendimento.Models.LoginModel
@{
    ViewData["Title"] = "Cadastro de Usuários";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


<div class="container mt-5">
    <h1 class="text-dark font-weight-bold">Cadastro de Usuários</h1>
    <form asp-controller="Login" asp-action="salvar" method="post">
        <div class="row mb-4">
            <div class="col-md-1 form-group">
                <label asp-for="id" class="font-weight-bold"></label>
                <input readonly type="text" asp-for="id" class="form-control" style="background-color: #f2f2f2;" />
                <span asp-validation-for="id" class="alert-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="login" class="font-weight-bold"></label>
                <input type="text" asp-for="login" class="form-control" style="background-color: #f2f2f2;" />
                <span asp-validation-for="login" class="alert-danger"></span>
            </div>
            <div class="col-md-5 form-group">
                <label asp-for="senha" class="font-weight-bold"></label>
                <input type="password" asp-for="senha" class="form-control" style="background-color: #f2f2f2;" />
                <span asp-validation-for="senha" class="alert-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 form-group">
                <label asp-for="idCargo" class="font-weight-bold"></label>
                <select class="form-control" style="background-color: #f2f2f2;" asp-for="idCargo" asp-items="@ViewBag.listacargos">
                    <option>Selecione um Cargo...</option>
                </select>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 form-group">
                <input type="checkbox" asp-for="ativo" />
                <label asp-for="ativo" class="font-weight-bold">Administrador</label>
                <span asp-validation-for="ativo" class="alert-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="background-color: #021532; border-color: #021532;" />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 form-group">
                <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
            </div>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
