@model CompusoftAtendimento.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<header>
    <nav class="navbar bg-dark" aria-label="breadcrumb" style="height: 50px;">
        <a class="font-weight-bold bg-dark" style="height: 40px;">
            <h4 href="~/HomeSite/Index">
                <span style="color: white;">COMPU</span><span style="color: gray;">SOFT</span> <span style="color: white;">ATENDIMENTO</span>
            </h4>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-nowrap">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a class="text-white">Bem vindo(a) @Context.Session.GetString("nomeLogin")!</a>
                    </div>
                    <div class="col-auto">
                        <a class="nav-link" asp-controller="login" asp-action="sair">
                            <span class="d-inline-block ml-1">
                                <img src="~/icons/sair.png" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="container-fluid mt-4">
<h3>Usuário</h3>
<form asp-controller="Login" asp-action="salvarcadastrese" method="post">
    <div class="row">
        <div class="col-1 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-6 form-group">
            <label asp-for="login"></label>
                <input type="text" asp-for="login" class="form-control" style="background-color: #f2f2f2;" />
            <span asp-validation-for="login" class="alert-danger"></span>
        </div>
        <div class="col-5 form-group">
            <label asp-for="senha"></label>
                <input type="password" asp-for="senha" class="form-control" style="background-color: #f2f2f2;" />
            <span asp-validation-for="senha" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="idCargo"></label>
                <select class="form-control" style="background-color: #f2f2f2;" asp-for="idCargo" asp-items="@ViewBag.listacargos">
                <option>Selecione um Cargo.....</option>
            </select>
                <a href="~/Cargo/cadastresecargo" class="btn btn-info mt-2" style="background-color: #021532;">
                    Novo Cargo
                </a>
        </div>
            <div class="col-12 form-group">
                <input type="checkbox" asp-for="ativo" />
                <label asp-for="ativo"></label>
                <span asp-validation-for="ativo" class="alert-danger"></span>
            </div>
            <br>
        <div class="col-12 form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="background-color: #021532" />
        </div>
        <div class="col-12 form-group" style="margin-top:50px">
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
        </div>
    </div>
</form>
</div>
