@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Login</title>

    <!-- CSS personalizado -->
    <style>
        .custom-navbar {
            background-color: #333; /* Cinza escuro */
            color: white; /* Texto em branco */
        }
    </style>
</head>

<body>
    <nav class="navbar bg-dark" aria-label="breadcrumb" style="height: 50px;">
            <a class="font-weight-bold bg-dark" style="height: 40px;"><h4 href="~/HomeSite/Index"><span style="color: white;">COMPU</span><span style="color: gray;">SOFT</span> <span style="color: white;">ATENDIMENTO</span></h4></a>
    </nav>



    <br>
    <br>
    <br>
    <center>
        <div aria-label="breadcrumb" class="card" style="width: 40rem;">
            <form class="px-4 py-3 asp-controller="Login" asp-action="logar" method="post">
                <div class="form-group">
                    <center><h4 class="text-left" style="color: #021532 ;">Entre com o seu Login</h4></center>

                    <br>
                    <div class="form-group">
                        <div class="text-left">
                            <label class="font-weight-bold" for="exampleDropdownFormEmail2">
                                <img src="~/icons/do-utilizador.png" width="24" height="24" alt="Ícone de usuário"> Usuário
                            </label>
                        </div>
                        <input style="background-color: #f2f2f2;" name="txtlogin" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <div class="text-left">
                            <label class="font-weight-bold" for="exampleInputPassword2">
                                <img src="~/icons/cadeado-aberto (1).png" width="24" height="24" alt="Ícone de senha"> Senha
                            </label>
                        </div>
                        <input style="background-color: #f2f2f2;" name="txtsenha" type="password" class="form-control" id="exampleInputPassword2">
                    </div>

                </div>
                <div>
                    <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #021532; border-color: #021532;">Entrar</button>
                <button type="submit" class="btn btn-primary" asp-action="cadastrese" asp-controller="login" style="background-color: #021532; border-color: #021532;">Cadastre-se</button>

            </form>
        </div>
    </center>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
