@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Login</title>

    <!-- CSS personalizado -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .custom-navbar {
            background-color: #343a40; /* Cinza escuro */
            color: white; /* Texto em branco */
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }

        .btn-primary {
            background-color: #021532;
            border-color: #021532;
        }

            .btn-primary:hover {
                background-color: #03354d; /* Cor de hover */
                border-color: #03354d;
            }

        h4 {
            color: #021532;
            font-weight: bold;
        }

        .form-group img {
            margin-right: 8px;
        }
    </style>
</head>

<body>
    <nav class="navbar custom-navbar" aria-label="breadcrumb" style="height: 60px;">
        <a class="navbar-brand" href="~/HomeSite/Index">
            <h4><span style="color: white;">COMPU</span><span style="color: gray;">SOFT</span> <span style="color: white;">ATENDIMENTO</span></h4>
        </a>
    </nav>

    <div class="container d-flex align-items-center justify-content-center min-vh-100" style="margin-top: 80px;">
        <div class="card p-4" style="width: 40rem;">
            <form asp-controller="Login" asp-action="logar" method="post">
                <h4 class="text-center mb-4">Realize o Login</h4>
                <div class="form-group">
                    <label class="font-weight-bold" for="exampleDropdownFormEmail2">
                        <img src="~/icons/do-utilizador.png" width="24" height="24" alt="Ícone de usuário"> Usuário
                    </label>
                    <input style="background-color: #f2f2f2;" name="txtlogin" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="exampleInputPassword2">
                        <img src="~/icons/cadeado-aberto (1).png" width="24" height="24" alt="Ícone de senha"> Senha
                    </label>
                    <input style="background-color: #f2f2f2;" name="txtsenha" type="password" class="form-control" id="exampleInputPassword2" required>
                </div>
                <div>
                    <center><span class="alert mt-3 @ViewBag.classe">@ViewBag.mensagem</span></center>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Entrar</button>
                <a href="~/Login/Cadastrese" class="btn btn-secondary btn-block">Cadastre-se</a>
            </form>
        </div>
    </div>

    <!-- JavaScript (Opcional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
