@model CompusoftAtendimento.Models.StatusModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>Status</h1>
<br />
<form asp-controller="Status" asp-action="salvar" method="post">
    <div class="row">
        <div class="col-1 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-11 form-group"  >
            <label asp-for="descricao"></label>
            <input type="text" asp-for="descricao" class="form-control" style="background-color: #f2f2f2;"/>
            <span asp-validation-for="descricao" class="alert-danger"></span>
       </div>
       <br>
        <div class="col-12 form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" style="background-color: #021532;  />
       </div>
        <div class="col-12 form-group" style="margin-top:50px">
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
       </div>
    </div>
</form>